/* Container que centraliza tudo na tela */
.login-wrapper {
  display: flex;
  min-height: calc(100vh - 124px); /* Subtrai o tamanho da sua NavBar */
  align-items: center;
  justify-content: center;
  background-color: #f8fafc; /* Fundo cinza bem clarinho moderno */
  padding: 24px;
  font-family: system-ui, -apple-system, sans-serif;
}

/* O "Card" branco flutuante */
.login-card {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
}

/* Textos do cabeçalho */
.login-header {
  text-align: center;
  margin-bottom: 24px;
}

.login-header h2 {
  margin: 0 0 8px 0;
  font-size: 24px;
  color: #0f172a;
}

.login-header p {
  margin: 0;
  font-size: 14px;
  color: #64748b;
}

/* Formulário e Inputs */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group label {
  font-size: 14px;
  font-weight: 500;
  color: #0f172a;
}

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-group input {

  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.input-group input:focus {
  border-color: #004d8e;
  box-shadow: 0 0 0 2px rgba(0, 77, 142, 0.1);
}

/* Botões */
.btn-primary {
    background-image: linear-gradient(to top, #004d8e, #3695e3);
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.btn-primary:hover {
    font-weight: bold;
    transform: translateY(-2px);
    transition: .2s;
}

.btn-outline {
  background-color: white;
  color: #0f172a;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-outline:hover {
  background-color: #f1f5f9;
}

.forgot-password {
  color: #3695e3;
}

.not-registered-yet {
  color: #3695e3;
}

.not-registered-yet:hover {
  text-decoration: underline;
}

small {
  display: none;
}

.incorrect {
  color: red;
  display: block !important;
}

